body {
  	background-image: url("../../bg.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Roboto Condensed', sans-serif;
	
}
#wrapper
{
    overflow:hidden;
  width:35em;
  height:35em;
  padding:15px;
  border:none;
  padding-top:0px;
  background-color:transparent;
  
    
}
form {
  padding: 15px;
  padding-top: 0px;
  
  border-radius: 1%;
  margin-top: 1px;

  color: white;
 

}
.div {
  padding: 15px;
  padding-top: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1%;
  margin-top: 1px;
  background-color: rgba(0, 0, 00, 0.70);
  border: 1px solid rgba(0, 0, 00, 0.70);
  color: white;
  overflow:auto;
  height:inherit;
  width:100%;

}

#textbox1 {
    height: 2em;
    width: 20em;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 15px;
    color:white;
    border: 0px; 
}
#textbox2 {
    height: 2em;
    width: 20em;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 15px;
    color:white;
    border: 0px; 
}
#textbox {
    height: 2em;
    width: 20em;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 15px;
    color:white;
    border: 0px; 
}


#button {
    height: 3em;
    width: 23em	;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 0px;
    transition: 0.2s ease;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    
}

#button:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color:black;
}
#button1:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color:black;
}
#button2:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color:black;
}
#button4:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color:black;
}
#button1 {
    height: 50px;
    width: 400px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    padding: 5px;
    background-color: rgba(0, 255,0 , 0.5);
    border: 0px;
    transition: 0.2s ease;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    
}
#button2 {
    height: 50px;
    width: 400px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    padding: 5px;
    background-color: rgba(255, 0, 0, 0.5);
    border: 0px;
    transition: 0.2s ease;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    
}
#button4 {
    height: 3em;
    width: 8em;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 0px;
    transition: 0.2s ease;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    
}

.img {
    height: 11.2em;
    width: 9em;
    border-radius: 5px;
}

.sub_navbarul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width : 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.70);
    z-index:1;
}
.sub_navbartimer{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width : 100%;
    position: fixed;
    float: right;
	top: 0;
	left: 0;
    background-color: rgba(0, 0, 0, 0.70);
    z-index:1;
}

li {
    
     font-family: 'Roboto Condensed', sans-serif;
}
h1 {
    
     font-family: 'Roboto Condensed', sans-serif;
}
.sub_navbarli a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 12px 14px;
    transition: background-color 0.35s ease;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}

li a:hover {
    background-color: rgba(0, 0, 0, 1);
}
#clockdiv{
	font-family: 'Roboto Condensed', sans-serif;
	color: #fff;
	
	font-weight: 100;
	text-align: right;
	font-size: 30px;
}


#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: rgba(0,0,0,1);
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: rgba(0,170,200,0.3);
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
a{
    text-decoration:none;
    color:white;
}
table {
    border:3px solid white;
    color:white;
    width:80%;
    font-family: 'Cabin Sketch', cursive;

}
tr{
text-align:center;
font-size:20px;
}
th{
  border:3px solid white;
  text-align:center;
font-size:30px;
}
#wrapperlead
{
    overflow:hidden;
  width:80% ;
  height:90%;
  padding:15px;
  border:none;
  padding-top:0px;
  background-color:transparent;
}
  .divlead {
  padding: 15px;
  padding-top: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1%;
  margin-top: 1px;
  background-color: rgba(0, 0, 0, 0.70);
  border: 1px solid rgba(0, 0, 0, 0.70);
  color: white;
  overflow:auto;
  height:inherit;
  width:110%}
  #wrapperlog
{
    overflow:hidden;
  width:50%;
  height:90%;
  padding:15px;
  border:none;
  padding-top:0px;
  background-color:transparent;}
  .divlog {
  padding: 15px;
  padding-top: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1%;
  margin-top: 1px;
  background-color: rgba(0, 0, 0, 0.80);
  border: 3px solid rgba(0, 0, 0, 0.80);
  color: white;
  overflow:auto;
  height:inherit;
  width:110%;

}
pre
{
	display: inherit;
	font-family: 'Roboto Condensed', sans-serif;
	white-space: pre;
}
iframe
{
	overflow-x: hidden;
}